/* ===== GLOBAL ===== */
*{
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  margin:0;
  padding:0;
  background:#0f172a;
  color:white;
}

/* ===== MAIN CONTAINER ===== */
.container{
  width:95%;
  max-width:800px;
  min-height:85vh;
  margin:15px auto;
  background:#1e293b;
  padding:20px;
  border-radius:14px;
  box-shadow:0 0 20px rgba(0,0,0,0.35);
}


/* ===== HEADINGS ===== */
h1{
  text-align:center;
  margin-top:0;
  font-size:26px;
}

h3{
  font-size:20px;
  margin-top:20px;
}

/* ===== INPUT ===== */
input{
  width:100%;
  padding:14px;
  margin:8px 0;
  border:none;
  border-radius:10px;
  font-size:16px;
}

/* ===== QUESTIONS ===== */
.question{
  display:none;
  animation:fadeIn .35s ease;
}

.question.active{
  display:block;
}

@keyframes fadeIn{
  from{opacity:0;transform:translateX(15px);}
  to{opacity:1;transform:translateX(0);}
}

/* ===== ANSWER BUTTONS ===== */
.answer{
  width:100%;
  padding:16px;
  margin:10px 0;
  border:none;
  border-radius:12px;
  background:#334155;
  color:white;
  font-size:16px;
  text-align:left;
  cursor:pointer;
  transition:.2s;
}

.answer:hover{
  background:#22c55e;
}

.answer.selected{
  background:#16a34a;
}

/* ===== PROGRESS BAR ===== */
.progress-wrap{
  width:100%;
  height:10px;
  background:#334155;
  border-radius:10px;
  margin:12px 0;
  overflow:hidden;
}

.progress-bar{
  height:100%;
  width:0%;
  background:#22c55e;
  transition:0.3s;
}

/* ===== STICKY NAVIGATION ===== */
.nav-area{
  position:sticky;
  bottom:0;
  background:#1e293b;
  padding-top:10px;
  margin-top:10px;
}

.nav-btn{
  width:100%;
  padding:14px;
  font-size:17px;
  font-weight:bold;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:white;
  cursor:pointer;
}
.question h3{
  line-height:1.4;
}



#prevBtn{
  margin-right:3%;
}

/* ===== MESSAGE ===== */
#msg{
  margin-top:10px;
  font-weight:bold;
}

/* ===== MOBILE OPTIMIZATION ===== */
@media (max-width:480px){

  body{
    padding:0;
  }

  .container{
    width:100%;
    min-height:100vh;
    border-radius:0;
  }

  h1{
    font-size:20px;
  }

  .answer{
    font-size:16px;
    padding:15px;
  }

}
